html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden !important;
  font-size: 10px;
  font-weight: 400;
  user-select: none;
}

a {
  font-size: 1.35rem;
  line-height: 1.8rem;
  color: #000;
  text-decoration: underline;
  font-weight: 500;
}

/*
  Areas in our app
*/


/* Basics */

[role=region] {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: auto;
  background-color: #f4f4f4;
 }

[role=region].show {
  visibility: visible;
}

[role=main] {
  position: absolute;
  left: 0;
  right: 0;
  top: 5rem;
  bottom: 6.5rem;
}

[role=main] > [role=region] {
  background: none
}

[role=region]:target {
  visibility: visible;
}

[role=navigation] {
  white-space: nowrap;
  margin: 0;
  padding: 1.5rem;
  border-top: 0.1rem solid #a6a6a6;
  background: rgba(0,0,0,0.05);
  display: block;
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  height: 3.5rem;
}

#nav-bar {
  z-index: 1;
}

[role=navigation] button {
  width: calc((100% / 2) - 0.5rem);
  float: left;
  margin-right: 1rem;
  position: relative;
  text-align: right;
}

[role=navigation] .recommend {
  margin-right: 0;
  text-align: left;
}

[role=navigation] button span {
  width: 3rem;
  height: 100%;
  left: 0;
  position: absolute;
  pointer-events: none;
  background: url(images/prev.png) no-repeat center center / 1.1rem;
}

[role=navigation] button.recommend span {
  left: calc(100% - 3rem);
  background-image: url(images/next.png);
}

[role=navigation] #wifi-join-button {
  display:none;
}

[role=navigation].forward-only .back {
  display:none;
}

[role=navigation].forward-only .recommend {
  width: 100%;
}

[role=navigation].secondary-menu .forward {
  display: none;
}

[role=navigation].secondary-menu #wifi-join-button {
  display: block;
}

[role=navigation].back-only .back {
  width: 100%;
  margin: 0;
}

[role=navigation].back-only .recommend {
  display:none;
}

/* Steps state */
.step-state {
  height: 0;
  font-size: 0;
  border-top: solid 0.1rem #b7b7b7;
  border-bottom: solid 0.1rem #fff;
  position: absolute;
  top: 5.5rem;
  left: 1.5rem;
  right: 1.5rem;
  z-index: 100;
}

.step-state:before {
  content: "";
  height: 0.3rem;
  width: calc(100% / 7);
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -0.2rem;
  background: #858585;
  transition: all 0.35s cubic-bezier(0.000, 1.000, 0.535, 1.110);
}

.less-steps.step-state:before {
  width: calc(100% / 6) !important;
}

/* STATES */
.step-1.step-state:before {
  transform: translateX(0);
}

.step-2.step-state:before {
  transform: translateX(75%);
}

.step-3.step-state:before {
  transform: translateX(150%);
}

.step-4.step-state:before {
  transform: translateX(225%);
}

.step-5.step-state:before {
  transform: translateX(300%);
}

.step-6.step-state:before {
  transform: translateX(400%);
}

.step-7.step-state:before {
  transform: translateX(500%);
}

.step-8.step-state:before {
  transform: translateX(600%);
}

/*
  Header conditional button
*/

.no-options header menu {
  display: none;
}

/*
  Splash screen
*/

#splash-screen {
  opacity: 0;
  z-index: 3000;
  transition: all 1s ease;
  background-image: url(/shared/resources/branding/powered.png);
  background-size: cover;
  background-position: center center;
}

#splash-screen.show {
  opacity: 1;
}
/*
  Pin code screen
*/
#unlock-sim-screen {
  z-index: 2000;
}

#unlock-sim-screen .unlock_container {
  height: calc(100% - 10rem);
}

#unlock-sim-screen section label {
  display: inline-block;
  padding: 1.5rem 3rem 0.5rem 3rem;
  color: black;
  font-size: 1.5rem;
  width: auto;
  height: 2rem;
  pointer-events: none;
}

#unlock-sim-screen .input-wrapper {
  padding: 0 1.5rem;
  position: relative;
}

#unlock-sim-screen .info {
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
}

#unlock-sim-screen .error {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: red;
}

#unlock-sim-screen .onerror {
  border: 0.1rem solid red;
}

#unlock-sim-screen .input-wrapper input {
  font-size: 2rem;
  padding-left: 1.5rem;
}

#unlock-sim-screen input[type="password"] {
    -moz-box-sizing: border-box;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 4rem;
    resize: none;
    padding: 0 0.8rem;
}

#hidden-wifi-authentication input[type="password"] {
  pointer-events: auto;
}

/*
  Languages Styles
*/

#languages {
  background: url(images/bg_bubbles.png) fixed no-repeat;
  background-size: 100% auto;
  overflow: hidden;
}

#languages [data-type="list"] {
  position: relative;
  top: 15.5rem;
  height: calc(100% - 15.5rem);
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 0;
}
/*
  #SIM_mandatory
*/
#SIM_mandatory {
  background: url(images/bg_nosim.png) no-repeat center center / 20rem;
  padding: 7rem 2rem 0px;
  overflow: hidden;
}

#SIM_mandatory p {
  margin: 0;
  color: #606060;
  font-weight: lighter;
  padding: 0 1rem 1rem;
  font-size: 2.2rem;
  line-height: 3rem;
  border-bottom: 0.1rem solid rgba(96, 96, 96, 0.5);
}

/*
 * Wifi
 */

#wifi {
  top: 1.5rem;
}

#wifi [data-type="list"] li > p {
  pointer-events: none;
}

#wifi li {
  padding: 0 1.5rem;
}
#wifi li.connected p {
  color: #00AACC;
}

#wifi li:after {
  content: "";
  transition: opacity 0.2s ease;
  background: #b1f1ff;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

#wifi li:active:after {
  opacity: 0.6;
}

/*
  No result container
*/

#wifi-wrapper {
  top: -1rem;
  bottom: 5.5rem;
}

#networks-list:first-child {
  padding-top: 0;
}

#join-hidden-button {
  bottom: 0;
  margin-top: 1.5rem;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
}

#wifi #no-result-container {
  position: absolute;
  background: url('images/wifi_icon.png') no-repeat fixed center / 23.6rem;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

#wifi #no-result-message {
  text-align: left;
  line-height: 3rem;
  position: relative;
  top: 50%;
  border-top: .1rem solid rgba(96,96,96,.5);
  padding: 0;
  width: 27rem;
  margin: -3rem auto;
  color: #606060;
  font-weight: 300;
  font-size: 2.26rem;
}

/*
 * States of Wifi signal
 */
aside.wifi-icon {
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 16rem;
  width: 3.2rem;
}
aside.wifi-signal       { background-image: url(images/wifi_disconnected_sprite.png);}
aside.connected         { background-image: url(images/wifi_connected_sprite.png);}
aside.secured           { background-image: url(images/wifi_disconnected_locked_sprite.png);}
aside.secured.connected { background-image: url(images/wifi_connected_locked_sprite.png);}
aside.level-0 { background-position:     0rem center;}
aside.level-1 { background-position:  -3.2rem center;}
aside.level-2 { background-position:  -6.4rem center;}
aside.level-3 { background-position:  -9.6rem center;}
aside.level-4 { background-position: -12.8rem center;}

aside.secured.connecting { background-image: url(images/wifi_connected_locked_sprite.png);}
aside.connecting {
  background-image: url(images/wifi_connected_sprite.png);
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-name: wifi-signal;
}
@keyframes wifi-signal {
 0%     { background-position:     0rem center; }
 25%    { background-position:  -3.2rem center; }
 50%    { background-position:  -6.4rem center; }
 75%    { background-position:  -9.6rem center; }
 100%   { background-position: -12.8rem center; }
}


/*
  Wifi configuration
*/

#hidden-wifi-authentication form,
#configure_network_params form {
  padding: 1rem 1.5rem;
}

#hidden-wifi-authentication form label,
#configure_network_params form label {
  display: block;
  padding: 1.5rem 1.5rem 0.5rem 1.5rem ;
  font-size: 1.5rem;
}

#hidden-wifi-authentication form select {
  width: 100%;
  padding: 0.5rem 1.5rem 0.5rem 1.5rem ;
  font-size: 1.5rem;
}

#hidden-wifi-authentication form select,
#hidden-wifi-authentication form input,
#configure_network_params form input {
  padding-left: 1.5rem;
}

/* The hide class is needed by the custom_dialog.js library */
.hidden, .hide {
  display: none !important;
}

/* 'show password' checkboxes */
#configure_network_params label:not([for]){
  display: inline-block;
  width: auto;
  height: auto;
}

#hidden-wifi-authentication label span:after,
#configure_network_params label span:after {
  top: 2rem;
  left: 3rem;
}

#hidden-wifi-authentication label p {
  width: 12rem;
  bottom: 0.4rem;
  left: 3rem;
}

#configure_network_params label p {
  width: auto;
  float: right;
  bottom: 0.4rem;
  left: 3rem;
}

/*
  Finish process
*/

.finish-screen-base, .tutorial-finish-base {
  opacity: 0;
  z-index: 3010;
  transition: all 1s ease;
  background: url(images/bg_grey-noise.png);
}

.finish-screen-base.show, .tutorial-finish-base.show {
  opacity: 1;
}

.finish-screen-base h1, .tutorial-finish-base h1 {
  margin: 0;
  color: white;
  font-size: 3rem;
  padding: 4rem 0 0 0;
  font-weight: 200;
  line-height: 4rem;
}

.finish-screen-base h2, .tutorial-finish-base h2 {
  margin: 0;
  color: white;
  font-size: 1.9rem;
  padding: .5rem 0 2rem 0;
  font-weight: 200;
  line-height: 2rem;
}

.finish-screen-base p, .tutorial-finish-base p {
  margin: 0;
  color: white;
  font-size: 1.4rem;
  font-weight: normal;
}

.finish-screen-base .content {
  background: url(images/icon_tour.png) no-repeat center 95% / 16.9rem;
}

.tutorial-finish-base .content {
  background: url(images/thumb_up.png) no-repeat center 70% / 14.4rem;
}

.finish-screen-base .content, .tutorial-finish-base .content {
  height: calc(100% - 6rem);
  padding: 0 3rem;
  width: calc(100% - 6rem);
  background-size: 17.6rem;
}

.finish-screen-base [role=navigation],.tutorial-finish-base [role=navigation] {
  border-top: .1rem solid #697476;
}

.finish-screen-base [role=navigation] button,.tutorial-finish-base [role=navigation] button {
  text-align: center;
}

.step-img-base {
  width: 28.9rem;
}
.step-img-base.hide {
  visibility: hidden;
}

/*
  Date and time
*/

.change {
  float: right;
  width: 8rem;
}

#time_zone_overlay {
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  padding-top: 0.5rem;
  -moz-box-sizing: border-box;
}

#time_zone_overlay.UTC0000 { background-image: url('images/timezone/+0000.png'); }
#time_zone_overlay.UTC0100 { background-image: url('images/timezone/+0100.png'); }
#time_zone_overlay.UTC0200 { background-image: url('images/timezone/+0200.png'); }
#time_zone_overlay.UTC0300 { background-image: url('images/timezone/+0300.png'); }
#time_zone_overlay.UTC0330 { background-image: url('images/timezone/+0330.png'); }
#time_zone_overlay.UTC0400 { background-image: url('images/timezone/+0400.png'); }
#time_zone_overlay.UTC0430 { background-image: url('images/timezone/+0430.png'); }
#time_zone_overlay.UTC0500 { background-image: url('images/timezone/+0500.png'); }
#time_zone_overlay.UTC0530 { background-image: url('images/timezone/+0530.png'); }
#time_zone_overlay.UTC0545 { background-image: url('images/timezone/+0545.png'); }
#time_zone_overlay.UTC0600 { background-image: url('images/timezone/+0600.png'); }
#time_zone_overlay.UTC0630 { background-image: url('images/timezone/+0630.png'); }
#time_zone_overlay.UTC0700 { background-image: url('images/timezone/+0700.png'); }
#time_zone_overlay.UTC0800 { background-image: url('images/timezone/+0800.png'); }
#time_zone_overlay.UTC0845 { background-image: url('images/timezone/+0845.png'); }
#time_zone_overlay.UTC0900 { background-image: url('images/timezone/+0900.png'); }
#time_zone_overlay.UTC0930 { background-image: url('images/timezone/+0930.png'); }
#time_zone_overlay.UTC1000 { background-image: url('images/timezone/+1000.png'); }
#time_zone_overlay.UTC1030 { background-image: url('images/timezone/+1030.png'); }
#time_zone_overlay.UTC1100 { background-image: url('images/timezone/+1100.png'); }
#time_zone_overlay.UTC1130 { background-image: url('images/timezone/+1130.png'); }
#time_zone_overlay.UTC1200 { background-image: url('images/timezone/+1200.png'); }
#time_zone_overlay.UTC1245 { background-image: url('images/timezone/+1245.png'); }
#time_zone_overlay.UTC1300 { background-image: url('images/timezone/+1300.png'); }
#time_zone_overlay.UTC1400 { background-image: url('images/timezone/+1400.png'); }

#time_zone_overlay.UTC-0100 { background-image: url('images/timezone/-0100.png'); }
#time_zone_overlay.UTC-0200 { background-image: url('images/timezone/-0200.png'); }
#time_zone_overlay.UTC-0300 { background-image: url('images/timezone/-0300.png'); }
#time_zone_overlay.UTC-0330 { background-image: url('images/timezone/-0330.png'); }
#time_zone_overlay.UTC-0400 { background-image: url('images/timezone/-0400.png'); }
#time_zone_overlay.UTC-0430 { background-image: url('images/timezone/-0430.png'); }
#time_zone_overlay.UTC-0500 { background-image: url('images/timezone/-0500.png'); }
#time_zone_overlay.UTC-0600 { background-image: url('images/timezone/-0600.png'); }
#time_zone_overlay.UTC-0700 { background-image: url('images/timezone/-0700.png'); }
#time_zone_overlay.UTC-0800 { background-image: url('images/timezone/-0800.png'); }
#time_zone_overlay.UTC-0900 { background-image: url('images/timezone/-0900.png'); }
#time_zone_overlay.UTC-0930 { background-image: url('images/timezone/-0930.png'); }
#time_zone_overlay.UTC-1000 { background-image: url('images/timezone/-1000.png'); }
#time_zone_overlay.UTC-1100 { background-image: url('images/timezone/-1100.png'); }
#time_zone_overlay.UTC-1200 { background-image: url('images/timezone/-1200.png'); }

#time_zone_map {
  background-image: url('images/timezone/map.png') ;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
  /*position: relative;*/
  height: 100%;
  width: 100%;
  padding-top: 0.5rem;
  -moz-box-sizing: border-box;
  z-index: 1;
}

#time-form {
  z-index: 11;
}

#date_and_time h1 {
  font-size: 1.6rem;
  line-height: 1.8rem;
  padding: 2rem 1.5rem 0 1.5rem;
  font-weight: 500;
  z-index: 10;
  position: relative;
}

#date_and_time h2 {
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 0 1.5rem;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 10;
  position: relative;
}

#date_and_time h1,h2 {
  margin: 0;
}

#date_and_time [data-type="list"] {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  right: 0;
}

#date_and_time [data-type="list"] li {
  height: 5rem;
  padding: 0 1.5rem;
  overflow: hidden;
}

#date_and_time [data-type="list"] li p {
  padding: 0 0.5rem 0 0;
  font-size: 1.4rem;
  line-height: 5rem;
}

#date_and_time [data-type="list"] button {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 0.5rem;
}


/*
  Import
*/

#import_contacts li {
  padding: 0 3.5rem;
}

#import_contacts li.importOption {
  padding: 0 !important;
  height: auto !important;
  border-bottom: none;
}

#import_contacts #fb_import, #import_contacts #fb_after_import2 {
  margin-top: 1rem;
}

/* Needed due to the .icon class which is overriding this property */
#import_contacts button:active {
  background-color: #008aaa !important;
}

#no-sim, #no-memorycard, #no-network, #fb_after_import2 p {
  color: #5B5B5B;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: -0.5rem 0 1.5rem 0;
  padding: 0;
  white-space: normal;
}


#import_contacts ul:first-child li:last-child {
  margin-bottom: 0;
}

/* Extending icon types*/
#import_contacts [data-type="list"] li button.icon-fb:before {
  background-image: url('/contacts/style/images/f_logo.png');
}

#import_contacts [data-type="list"] li button.icon-sim:before {
  background-image: url('/contacts/style/images/import_SIM.png');
}
#import_contacts [data-type="list"] li button.icon-sd:before {
  background-image: url('/contacts/style/images/import_sd.png');
}

#import_contacts [data-type="list"] li button.icon-wlive:before {
  background-image: url('/contacts/style/images/outlook_icon.png');
}

#import_contacts [data-type="list"] li button.icon-gmail:before {
  background-image: url('/contacts/style/images/gmail_icon.png');
}

#import_contacts li button.icon {
  padding-left: 3rem;
  text-indent: 1rem;
}

#import_contacts li button.icon:before {
  right: auto;
  left: 0.5rem;
  background-size: 3rem;
}

#import_contacts li button[disabled="disabled"].icon:before {
  opacity: 0.2;
}

#import_contacts article:first-child ul {
  margin-top: 1.6rem;
}


#fb_after_import1 {
  background: url('images/import_fb.png') no-repeat center left / 3rem;
}

#statusMsg.ftu {
  bottom: 6.5rem;
  z-index: 0;
  opacity: 0;
}

#statusMsg.ftu.bannerStart {
  z-index: 2;
  opacity: 1;
}

/*
  About your rights
*/
#welcome_browser {
  padding: 1.5rem 3rem 0 3rem;
  width: calc(100% - 6rem);
}

#welcome_browser p {
  margin: 0;
  color: #000;
  padding: 0 0 2rem 0;
  font-size: 1.35rem;
  line-height: 1.8rem;
}

#welcome_browser #browser_logo_horizontal {
  margin: 1rem 0;
}

#welcome_browser #browser_logo_horizontal img {
  width: 20rem;
}

#welcome_browser label {
  position: absolute;
  margin: -1.5rem 0 0 -1.5rem;
}

#welcome_browser section p a {
  margin-left: 0.3rem;
}

#welcome_browser #browser_os_privacy_links {
  margin-bottom: 3rem;
  display: block;
  overflow: hidden;
}

#welcome_browser #browser_os_privacy_links a {
  width: 50%;
  float: left;
}

#welcome_browser #browser_os_privacy_links a:last-child {
  float: right;
  text-align: right;
}

#welcome_browser #form_share_statistics {
  clear: both;
}

#welcome_browser #form_share_statistics label {
  width: auto;
  height: auto;
  margin: 0 3rem 0 0;
}

#welcome_browser #form_share_statistics span:after {
  top: 1rem;
  left: 1rem;
}

#welcome_browser #form_share_statistics p {
  width: calc(100% - 3.5rem);
  float: right;
}

/*
  Privacy policies
*/

#browser_privacy {
  padding: 1.5rem 3rem 0 3rem;
  width: calc(100% - 6rem);
  height: calc(100% - 3.5rem);
  margin-top: 2rem;
}

#browser_privacy img {
  vertical-align: middle;
}

#browser_privacy p {
  margin: 0;
  color: #000;
  padding: 0 0 2rem 0;
  font-size: 1.35rem;
  line-height: 1.8rem;
}


#browser_privacy p a {
  margin-left: 0.3rem;
  font-size: 1.35rem;
  line-height: 1.8rem;
  color: #000;
  text-decoration: underline;
  font-weight: 500;
}

#browser_privacy input {
  margin-bottom: 2rem;
}

.invisible {
  position: absolute;
  top: 0;
  opacity: 0;
  height: 4rem;
  width: 100%;
}

/*
  #about-your-rights
*/

#about-your-rights p ,#about-your-privacy p, #sharing-performance-data p {
  margin: 0;
  color: #000;
  padding: 0 3rem 1rem 3rem;
  font-size: 1.35rem;
  line-height: 1.8rem;
}

#about-your-rights p:first-child, #about-your-privacy p:first-child, #sharing-performance-data p:first-child {
  margin-top: 2rem;
}

#about-your-rights p a ,#about-your-privacy p a, #sharing-performance-data p a {
  margin-left: 0.3rem;
  font-size: 1.35rem;
  line-height: 1.8rem;
  color: #000;
  text-decoration: underline;
  font-weight: 500;
}

/* your privacy */
/* see Bug 819886 */
i.hack-first-child {
  display: none;
}

#about-your-privacy ul li > a {
  display: block;
  text-decoration: none;
  outline: 0;
  color: #000;
  -moz-box-sizing: border-box;
  height: 6rem;
  font-size: 1.9rem;
  line-height: 6rem;
  padding: 0 3rem;
}

#about-your-privacy article {
  padding: 0;
}

/*
 * Privacy icons
 */

#about-your-privacy .privacy-menuitem {
  padding-left: 5.5rem;
}

.privacy-menuitem:before {
  content: ' ';
  width: 3.2rem;
  height: 3.2rem;
  position: absolute;
  left: 1.4rem;
  top: calc(50% - 1.6rem);
  background: url(/shared/resources/branding/privacy_sprite.png) no-repeat 0 0 / 9.6rem;
}

.privacy-browserOS:before {
  background-position: 0 0;
}

.privacy-everythingME:before {
  background-position: -3.2rem 0;
}

.privacy-marketPlace:before {
  background-position: -6.4rem 0;
}

#newsletter-form.hidden,
#newsletter-success-screen,
#invalid-email-error-dialog,
#offline-newsletter-error-dialog,
#offline-error-dialog {
  display: none;
}

#newsletter-success-screen.visible,
#invalid-email-error-dialog.visible,
#offline-newsletter-error-dialog.visible,
#offline-error-dialog.visible {
  display: block;
}

/*
 * Lists
 */

/* Overwrite "BB lists" */
[data-type="list"]:first-child {
  padding-top: 1.5rem;
}

[data-type="list"] li > a {
  padding: 0 1.5rem;
}

/* .pack-value-selector make checkbox fit the whole li */
/* .pack-value-selector should be part of "BB lists" */
[data-type="list"] li {
  transition: none;
}

[data-type="list"].pack-value-selector li:after {
  content: "";
  transition: opacity 0.2s ease;
  background: #008aaa;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
}

[data-type="list"].pack-value-selector li:active:after {
  opacity: 0.6;
}

[data-type="list"].pack-value-selector li[aria-disabled="true"]:after {
  background-color: #e6e6e6;
  opacity: 0.7;
  z-index: 1;
}

[data-type="list"].pack-value-selector li label:not([for]) {
  background: none;
  height: 100%;
  position: absolute;
  left: 1.5rem;
  right: 1.5rem;
  pointer-events: auto;
}

[data-type="list"].pack-value-selector li label:not([for]) input {
  height: 100%
}

[data-type="list"].pack-value-selector li label:not([for]) input + span:after {
  background: none;
  left: 100%;
  margin-left: -2.2rem;
}

[data-type="list"].pack-value-selector li label:not([for]) input:checked + span:after {
  background: url("images/checked.png") no-repeat right center / 100%;
}

[data-type="list"].pack-value-selector li label:not([for]) input + span + p {
  font-weight: normal;
}

[data-type="list"].pack-value-selector li label:not([for]) input:checked + span + p {
  font-weight: 500;
}


#date_and_time [data-type="list"] select,
#date_and_time [data-type="list"] input {
  width: 8rem;
  right: 1.5rem;
  padding: 0;
  margin: 0;
  height: 100%;
}

.icon {
  background-repeat: no-repeat;
  background-position: center center;
}

#time-form .icon {
  background-color: transparent;
}

/*
  3G
*/

#data_3g [data-type="list"] li {
  padding: 0 1.5rem;
}

#data_3g label:not([for]) {
  width: 6rem;
}

#data_3g .content {
  padding: 0 3rem 1rem 3rem;
}

#data_3g .content p {
  font-size: 1.4rem;
}

[data-type="list"] aside {
  margin: 0 0.5rem 0 0 !important;
}

/*
  geolocation
*/

#geolocation [data-type="list"] li {
  padding: 0 1.5rem;
}

#geolocation label:not([for]) {
  width: 6rem;
}

#geolocation .content {
  padding: 0 3rem 1rem 3rem;
}

#geolocation .content p {
  font-size: 1.4rem;
}

[data-type="list"] aside {
  margin: 0 0.5rem 0 0 !important;
}


/*
  Tutorial
*/

.tutorial-screen-base [role=main] > [role=region] {
  background: url(images/bg_grey-noise.png);
  color: white;
}

.tutorial-screen-base [role=main] {
  top: 0;
  bottom: 0;
}

.tutorial-screen-base header {
  height: 5rem;
  font-size: 1.4rem;
  padding: 3rem 1.5rem 1rem 1.5rem;
  text-align: left;
}

.tutorial-screen-base section {
  text-align: center;
}

/* Tutorial Steps state */
.tutorial-screen-base .step-state {
  border-bottom: none;
  top: 1.5rem;
}

/* if you want to add your steps, you have to change the denominator */
.tutorial-screen-base .step-state:before {
  width: calc(100% / 5);
  background: #FFFFFF;
}

#tutorial-progress.step-1.step-state:before {
  transform: translateX(0);
}

#tutorial-progress.step-2.step-state:before {
  transform: translateX(100%);
}

#tutorial-progress.step-3.step-state:before {
  transform: translateX(200%);
}

#tutorial-progress.step-4.step-state:before {
  transform: translateX(300%);
}

#tutorial-progress.step-5.step-state:before {
  transform: translateX(400%);
}

#tutorial-progress.step-6.step-state:before {
  transform: translateX(500%);
}

#tutorial-progress.step-7.step-state:before {
  transform: translateX(600%);
}

#tutorial-progress.step-8.step-state:before {
  transform: translateX(700%);
}

