
/******************************************************************************
 * Setting icons
 */

.menu-item {
  padding-left: 5.5rem;
  position: static;
}

.menu-item-desc {
  left: 4rem;
}

.menu-item::before {
  left: 0;
  height: 100%;
  line-height: 6rem;
  color: #657073;
}

/******************************************************************************
 * Wi-Fi icons
 */
aside.pack-end {
  position: absolute;
  z-index: 2;
  right: 1.5rem;
  margin: 0 0 0 0.5rem;
  text-align: right;
 }
aside.wifi-icon {
  background-repeat: no-repeat;
  background-position: 0 center;
  background-size: 16rem;
  width: 3.2rem;
  height: 5.6rem;
}

/*
 * States of Wifi signal
 */
aside.wifi-signal       { background-image: url(images/wifi_disconnected_sprite.png);}
aside.connected         { background-image: url(images/wifi_connected_sprite.png);}
aside.secured           { background-image: url(images/wifi_disconnected_locked_sprite.png);}
aside.secured.connected { background-image: url(images/wifi_connected_locked_sprite.png);}
aside.level-0 { background-position:     0rem center;}
aside.level-1 { background-position:  -3.2rem center;}
aside.level-2 { background-position:  -6.4rem center;}
aside.level-3 { background-position:  -9.6rem center;}
aside.level-4 { background-position: -12.8rem center;}

aside.secured.connecting { background-image: url(images/wifi_connected_locked_sprite.png);}
aside.connecting {
  background-image: url(images/wifi_connected_sprite.png);
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: step-start;
  animation-name: wifi-signal;
}
@keyframes wifi-signal {
 0%     { background-position:     0rem center; }
 25%    { background-position:  -3.2rem center; }
 50%    { background-position:  -6.4rem center; }
 75%    { background-position:  -9.6rem center; }
 100%   { background-position: -12.8rem center; }
}


/******************************************************************************
 * Call Settings icons
 */

 #menuItem-callWaiting .alert-label > span {
  position: absolute;
  right: 1.5rem;
  width: 3rem;
  height: 3rem;
  background-image: url(images/call_waiting_disabled.png);
  background-size: 3rem;
  background-repeat: no-repeat;
 }


/******************************************************************************
 * Bluetooth devices
 */

.bluetooth-device {
  background-repeat: no-repeat;
  background-position: right 3rem top 50%; /* same position as for Wi-Fi signal levels */
  padding-right: 2rem;
}

.bluetooth-device:before {
  content: "";
  width: 3rem;
  height: 3rem;
  background: url(images/bluetooth_sprite.png) no-repeat 3rem 3rem / 39rem;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -1.5rem;
}

/* device icons */
.bluetooth-type-audio-card:before {
  background-position: 0rem 0rem;
}

.bluetooth-type-audio-input-microphone:before {
  background-position: -3rem 0rem;
}

.bluetooth-type-battery:before {
  background-position: -6rem 0rem;
}

.bluetooth-type-camera-photo:before {
  background-position: -9rem 0rem;
}

.bluetooth-type-camera-video:before {
  background-position: -12rem 0rem;
}

.bluetooth-type-camera-web:before {
  background-position: -15rem 0rem;
}

.bluetooth-type-computer:before {
  background-position: -18rem 0rem;
}

.bluetooth-type-drive-harddisk:before {
  background-position: -21rem 0rem;
}

.bluetooth-type-drive-optical:before {
  background-position: -24rem 0rem;
}

.bluetooth-type-drive-removable-media:before {
  background-position: -27rem 0rem;
}

.bluetooth-type-input-gaming:before {
  background-position: -30rem 0rem;
}

.bluetooth-type-input-keyboard:before {
  background-position: -33rem 0rem;
}

.bluetooth-type-input-mouse:before {
  background-position: -36rem 0rem;
}

.bluetooth-type-input-tablet:before {
  background-position: 0rem -3rem;
}

.bluetooth-type-media-flash:before {
  background-position: -3rem -3rem;
}

.bluetooth-type-media-floppy:before {
  background-position: -6rem -3rem;
}

.bluetooth-type-media-optical:before {
  background-position: -9rem -3rem;
}

.bluetooth-type-media-tape:before {
  background-position: -12rem -3rem;
}

.bluetooth-type-modem:before {
  background-position: -15rem -3rem;
}

.bluetooth-type-multimedia-player:before {
  background-position: -18rem -3rem;
}

.bluetooth-type-network-wired:before {
  background-position: -21rem -3rem;
}

.bluetooth-type-network-wireless:before {
  background-position: -24rem -3rem;
}

.bluetooth-type-pda:before,
.bluetooth-type-phone:before {
  background-position: -27rem -3rem;
}

.bluetooth-type-printer:before {
  background-position: -30rem -3rem;
}

.bluetooth-type-scanner:before {
  background-position: -33rem -3rem;
}

.bluetooth-type-video-display:before {
  background-position: -36rem -3rem;
}


/******************************************************************************
 * Privacy icons
 */

.privacy-menuitem {
  padding-left: 5.5rem;
  background-repeat: no-repeat;
  background-position: 1.4rem center;
}

.privacy-menuitem:before {
  content: "";
  width: 3.3rem;
  height: 3.3rem;
  background: url(/shared/resources/branding/privacy_sprite.png) no-repeat 3rem 3rem / 9.6rem;
  position: absolute;
  left: 1.5rem;
  top: 50%;
  margin-top: -1.5rem;
}

.privacy-browserOS:before {
  background-position: 0 0;
}

.privacy-everythingME:before {
  background-position: -3.2rem 0;
}

.privacy-marketPlace:before {
  background-position: -6.4rem 0;
}

/******************************************************************************
 * Keyboard icons
 */

 .keyboard-menuItem {
  padding-right: 6rem;
 }

 .keyboard-menuItem:before {
  content: "";
  width: 3rem;
  height: 3rem;
  background-size: 3rem 3rem;
  background-repeat: no-repeat;
  background-image: url(images/settings.png);
  position: absolute;
  right: 3rem;
  top: 50%;
  margin-top: -1.5rem;
 }

/******************************************************************************
 * Right-To-Left layout
 */

/* #root icons */

html[dir="rtl"] #root li a[data-l10n-id] {
  background-position: right 1.4rem top 50%;
}

html[dir="rtl"] #root ul a {
  padding-left: inherit;
  padding-right: 5.5rem;
}

html[dir="rtl"] #root li small {
  left: auto;
  right: 5.5rem;
}

/* other icons */

html[dir="rtl"] #wifi-availableNetworks li,
html[dir="rtl"] #bluetooth .devices li,
html[dir="rtl"] #about-yourPrivacy li {
  background-position: left 3rem top 50%;
}

html[dir="rtl"] #wifi-availableNetworks a.wifi-secure {
  background-position: left center;
}

html[dir="rtl"] #bluetooth .devices li {
  padding-left: 3rem;
  padding-right: inherit;
}

