@media (min-height: 4.5em) {
  html, body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-size: 10px;
    color: white;
    background: transparent;
  }

  html * {
    overflow: hidden;
  }

  .font-light {
    font-weight: 300;
  }

  #calls:not(.big-duration) .duration .font-light {
    font-weight: normal;
  }

  button::-moz-focus-inner {
    border: 0;
  }

  #phone-number-view {
    width:100%;
    border:0;
    background:transparent;
    text-align: left;
    cursor:none;
    -moz-user-select: none;
  }

  .grid-wrapper {
    width:100%;
    height:100%;
  }

  .grid-v-align {
    vertical-align:middle;
  }

  .grid-row {
    display:table-row;
  }

  .grid-cell {
    display:table-cell;
  }

  .grid {
    display:table;
    table-layout:fixed;
  }

  #keypad-callbar.hide,
  #keypad-hide-bar.hide {
    display: none;
  }

  .grid-row.transparent,
  #co-advanced.transparent {
    visibility: hidden;
  }

  .layout-row {
    display:table-row;
  }

  .layout-cell {
    display:table-cell;
  }

  .layout-centered {
    vertical-align:middle;
  }

  .center {
    text-align:center;
  }

  #views {
    position: absolute;
    top: 100%;
    height: 100%;
    width: 100%;
    z-index: -1;
  }

  body.showKeypad #views {
    transition: transform 0.3s ease;
    transform: translateY(-100%);
    z-index: 500;
  }

  body.showKeypad #keyboard-container {
    height: 34.5rem;
  }

  body.showKeypad .duration {
    transition: visibility 0.3s ease;
    visibility: hidden;
  }

  body.showKeypad #call-options {
    transition: transform 0.3s ease;
    transform: translateY(16rem);
  }

  #views > .view {
    height: 100%;
    width: 100%;
  }

  body.hidden *[data-l10n-id] {
    visibility: hidden;
  }

  #call-screen {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    background: black;
    z-index: 100;
  }

  /* This transition is needed to trigger a transitionend event in */
  /* call_screen.js */
  #call-screen:not([data-layout="incoming-locked"]) {
    transform: translateY(-100%);
    transition: transform 0.5s ease 1.5s;
  }

  #call-screen:not([data-layout="incoming-locked"]).displayed {
    transform: translateY(0);
    transition: transform 0.5s ease 0s;
  }

  #call-screen:before {
    background: url("images/mask.png") no-repeat scroll 50% 50% / cover transparent;
  }

  #main-container {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #000 no-repeat center top/cover;
  }

  #main-container:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.45);
    width: 100%;
    height: 100%;
  }

  #main-container.transparent:before {
    background-color: transparent;
  }

  #actions-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 14rem;
  }

  #call-options {
    height: 14rem;
    position: absolute;
    bottom: 0;
  }

  #co-advanced {
    height: 8rem;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .co-advanced-option {
    height: 8rem;
    width: 100%;
    background: rgba(24, 24, 24, 0.85);
    border: solid 0.1rem black;
    border-left-color: rgba(255, 255, 255, 0.2);
    -moz-box-sizing: border-box;
    border-radius: 0;
  }

  .co-advanced-option:not([disabled]):active {
    background: #00aacc;
  }


  #co-advanced span.grid-cell:first-child .co-advanced-option {
    border-left: 0;
  }

  #co-advanced span.grid-cell:last-child .co-advanced-option {
    border-right: 0;
  }

  #co-advanced.no-add-call #place-new-call-container {
    display: none;
  }

  .co-advanced-option .icon {
    display: inline-block;
    background-size: 4rem;
    width: 4rem;
    height: 4rem;
  }

  .active-state .icon {
    background-position: 0 -4rem;
  }

  button[disabled] .icon {
    opacity: 0.6;
  }

  .icon-mute {
    background-image: url('images/ActionIcon_40x40_mute.png');
  }

  .icon-keypad-visibility {
    background-image: url('images/ActionIcon_40x40_dialpad.png');
  }

  .icon-place-new-call {
    background-image:url('images/ActionIcon_40x40_placenewcall.png');
  }

  .icon-speaker {
    background-image:url('images/ActionIcon_40x40_speaker.png') ;
  }

  #callbar {
    background: rgba(24, 24, 24, 0.85);
    border: solid 0.1rem rgba(255, 255, 255, 0.2);
    border-right-color: rgba(0, 0, 0, 0.4);
    border-bottom-color: rgba(0, 0, 0, 0.4);
    border-left: 0;
    -moz-box-sizing: border-box;
  }

  #callbar-hang-up {
    float: left;
    height: 6.5rem;
    width: 50%;
  }

  #callbar-answer {
    height: 6.5rem;
    width: 50%;
  }

  #callbar-hold {
    height: 6.5rem;
    width: 50%;
    display: none;
  }

  .callbar-button {
    height: 4rem;
    border:0;
    border-radius:.3rem;
    display: block;
  }

  #callbar-hang-up-action {
    background: url("images/btn_hang_up.png") repeat-x;
    background-size: auto 100%;
    margin: 1rem .5rem 1.5rem 1.5rem;
  }

  #callbar-hang-up-action:active {
    background: #820000;
  }

  #callbar-hang-up-action > div {
    margin: 0 auto;
    background-image: url('images/ActionIcon_40x40_hangup.png');
    background-repeat: no-repeat;
    background-size: 4rem;
    background-position: center;
    width: 4rem;
    height: 4rem;
  }

  #callbar-start-call-action {
    background: url("images/btn_pick_up.png") repeat-x;
    background-size: auto 100%;
    margin: 1rem 1.5rem 1.5rem .5rem;
  }

  #callbar-start-call-action:active {
    background: #4B780A;
  }

  #callbar-start-call-action > div {
    margin: 0 auto;
    background-image: url('images/ActionIcon_40x40_pickup.png');
    background-repeat: no-repeat;
    background-size: 4rem;
    background-position: center;
    width: 4rem;
    height: 4rem;
  }

  #callbar-hold-action {
    background: url("images/btn_resume.png") repeat-x;
    background-size: auto 100%;
    margin: 1rem 1.5rem 1.5rem .5rem;
    line-height: 4rem;
    font-size: 1.8rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 0.1rem 0.1rem 0 rgba(255,255,255,0.3);
    color: #333;
  }

  #callbar-hold-action:active {
    background: #00aacc;
  }

  /* Multiple call handling */
  #calls {
    position: absolute;
    top: 0;
    width: 100%;
    height: 24rem;

    z-index: 500;
  }

  #calls.big-duration {
    height: 22rem;
  }

  #calls > section {
    position: relative;
    height: 8rem;

    font-size: 1.8rem;
    line-height: 8rem;
    background-color: #01c5ed;

    transition: background-color 0.3s linear;
    opacity: 1;
  }

  #calls > section.groupended {
    display: none;
  }

  #calls > section div {
    padding-left: 2.5rem;
    padding-right: 1.5rem;
  }

  #calls.big-duration > section {
    height: 22rem;
    background-color: transparent;
  }

  #calls > section .switch-calls {
    display: none;
  }

  #calls.switch > section .switch-calls {
    display: block;
    height: 8.0rem;
    width: auto;
    float: right;
    padding: 0;
  }

  #calls[data-cdma-call-waiting="true"] > section.additionalInfo .switch-calls {
    height: 10rem;
  }

  #switch-calls-button {
    display: block;
    margin: 0 1.3rem 0 0;
    padding: 0;
    height: 4rem;
    width: 12.8rem;
    border: 0;
    position: relative;
    top: calc(50% - 2rem);
    border-radius: .3rem;
    background: url('images/ActionIcon_40x40_switchlines.png'),
                url('images/btn_switchlines.png');
    background-size: 4rem, auto 100%;
    background-position: center, center;
    background-repeat: no-repeat, repeat-x;
  }

  #switch-calls-button:active {
    background: url('images/ActionIcon_40x40_switchlines.png'),
                url('images/btn_switchlines_press.png');
    background-size: 4rem, auto 100%;
    background-position: center, center;
    background-repeat: no-repeat, repeat-x;
  }

  #calls:not(.big-duration) > section .numberWrapper {
    padding-left: 4rem;
    padding-right: 7rem;
  }

  #calls.big-duration > section .numberWrapper,
  #calls.big-duration > section .additionalContactInfo,
  #calls.big-duration > section .switch-calls {
    background: #01c5ed;
    transition: background-color 0.3s linear;
  }

  #calls.big-duration > section .numberWrapper .number {
    height: 3.2rem;
    line-height: 3rem;
  }

  #calls > section .numberWrapper .number {
    height: 2.5rem;
    padding: 2rem 0 0 0;
    font-size: 2.5rem;
    line-height: 1.5rem;
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: lighter;
  }

  #calls > section:not(.additionalInfo) .numberWrapper
    .number {
    height: 8rem;
    line-height: 8rem;
    padding: 0;
  }

  #calls.switch > section .numberWrapper .number {
    font-size: 2.3rem;
  }

  #calls > section .fake-number {
    position: absolute;
    line-height: 0rem;
    visibility: hidden;
    white-space: nowrap;
  }

  #calls > section .additionalContactInfo {
    height: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 7rem 2rem 4rem;
    font-size: 1.6rem;
    line-height: 2rem;
    color: white;
  }

  #calls.big-duration > section .additionalContactInfo {
    padding: 0 2rem 3.6rem 2.5rem;
  }

  #calls > section:not(.additionalInfo) .additionalContactInfo {
    display: none;
  }

  #calls > section .shadow {
    display: none;
  }

  #calls.switch > section .shadow {
    display: block;
    background: url('images/Shadow_SwitchBg.png');
    height: 0.9rem;
    width: 100%;
  }

  #calls:not(.big-duration) > section .duration {
    position: absolute;
    right: 0;
    top: 0;
    color: black;
    line-height: 6.6rem;
  }

  #calls.big-duration > section .duration {
    position: absolute;
    top: 10rem;
    left: 0;
    height: 7.5rem;
    width: 100%;
  }

  #calls.big-duration > section .duration > span {
    font-size: 2.7rem;
    line-height: 11.1rem;
    text-shadow: 0 0.2rem 0.1rem rgba(0,0,0,0.3);
  }

  #calls.big-duration > section .duration.isTimer > span {
    font-size: 5.9rem;
    line-height: 8.1rem;
  }

  #calls:not(.big-duration) > section.incoming {
    background-image: url('images/incoming-call.png');
    background-size: 1.6rem;
    background-position: center left 1.5rem;
    background-repeat: no-repeat;
  }

  #calls:not(.big-duration) > section.outgoing {
    background-image: url('images/outgoing-call.png');
    background-size: 1.6rem;
    background-position: center left 1.5rem;
    background-repeat: no-repeat;
  }

  #calls:not(.big-duration) > section.held,
  #calls:not(.big-duration) > section.ended,
  #calls.big-duration > section.held .numberWrapper,
  #calls.big-duration > section.held .additionalContactInfo,
  #calls.big-duration > section.held .switch-calls,
  #calls.big-duration > section.ended .numberWrapper,
  #calls.big-duration > section.ended .additionalContactInfo,
  #calls.big-duration > section.ended .switch-calls {
    background-color: rgba(28, 24, 24, 0.7);
  }

  #calls:not(.big-duration) > section.held {
    background-image: url('images/DialerIcon_35x35_paused.png');
    background-size: 1.6rem;
    background-position: center left 1.5rem;
    background-repeat: no-repeat;
  }

  #calls > section.held .numberWrapper .number,
  #calls > section.ended .numberWrapper .number {
    color: white;
  }

  #calls.big-duration > section.held .duration {
    display: block;
  }

  #calls > section .numberWrapper {
    white-space: nowrap;
  }

  #calls > section.held .duration {
    display: none;
  }

  #calls > section .duration > .direction {
    display: none;
  }

  #calls.big-duration > section .duration > .direction {
    display: inline-block;
    width: 3.5rem;
    height: 6.5rem;
    padding: 0;
  }

  #calls.big-duration .handled-call .direction:before {
    content: "";
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    margin: 4rem 0 0 1rem;
    background-repeat: no-repeat;
    background-size: 2.6rem;
  }

  #calls.big-duration .handled-call.incoming .direction:before {
    background-image: url('images/incoming_icon.png');
  }

  #calls.big-duration .handled-call.outgoing .direction:before {
    background-image: url('images/outgoing_icon.png');
  }

  #calls.big-duration .handled-call.held .direction:before {
    background-image: url('images/hold_icon.png');
  }

  #calls:not(.big-duration) > section.ended .duration .font-light {
    font-size: 3.2rem;
    color: white;
  }

  #calls:not(.big-duration) > section.ended .duration {
    line-height: 8rem;
    padding-left: 4rem;
    left: 0;
  }

  #calls:not(.big-duration) > section.ended .numberWrapper,
  #calls:not(.big-duration) > section.ended .additionalContactInfo {
    display: none;
  }

  #incoming-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 500;
  }

  #incoming-container header {
    margin-bottom: 2rem;
    display: flex;
  }

  #incoming-info {
    background-color: rgba(0, 0, 0, 0.85);
    background-image:  url('images/incoming_icon.png');
    background-position: top 1.5rem right 1.5rem;
    background-repeat: no-repeat;
    background-size: 2.6rem;
  }

  #incoming-container.displayed {
    transform: translateY(0);
  }

  #incoming-container button {
    height: 4rem;
    flex: 1;
    border:0;
    border-radius:.3rem;
    display: block;
    font-size: 1.8rem;
    color: white;
    background-position: center, center;
    background-repeat: no-repeat, repeat-x;
  }

  #incoming-container.hold-and-answer-only #incoming-end {
    display: none;
  }

  #incoming-answer {
    background-image: url('images/ActionIcon_40x40_hold.png'),
                      url('images/btn_resume.png');
    background-size: 2.8rem, auto 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  #incoming-end {
    background: url('images/ActionIcon_40x40_hangup.png'),
                url('images/btn_hang_up.png');
    background-size: 4rem, auto 100%;
    margin-left: 1.5rem;
  }

  .incoming-number-info {
    padding: 1rem 4.5rem 0 1.5rem;
    height: 7rem;
    border-bottom: 0.1rem #333030 solid;
    display: flex;
    flex-direction: column;
  }

  #incoming-number {
    font-size: 2.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0.5rem;
  }

  #incoming-number-additional-info {
    display: block;
    font-size: 1.6rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  #incoming-ignore {
    background: linear-gradient(to top, #424040 1%, #676767 100%);
    margin: 1rem 1.5rem;
    width: calc(100% - 3rem);
  }

  /* Conference group support */
  #group-call #group-show {
    position: absolute;
    padding: 0;
    right : 0;
    height: 8rem;
    width: 6rem;
    background: url('images/proceed.png') no-repeat center center / 3rem;
  }

  #group-call.held #group-show {
    display: none;
  }

  #group-call #group-show:active {
    background-color: #00ABCC;
    transition: background-color 0.2s ease;
  }

  #calls #group-call-label {
    padding-right: 3rem;
  }

  #group-call .hangup-button,
  #calls:not(.big-duration) #group-call > .duration.isTimer,
  #group-call-details-list .fake-number,
  #group-call-details-list .duration,
  #group-call-details-list .switch-calls {
    display: none;
  }

  #group-call-details-list .number {
    font-size: 1.7rem !important;
    line-height: 2.4rem;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
  }

  #group-call-details {
    z-index: 750;
  }

  #group-call-details .hangup-button {
    float: right;
    width: 4.5rem;
    height: 4.5rem;
    background: url(images/ActionIcon_40x40_hangup.png) no-repeat center center / 4rem;
  }

  #contact-background {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: transparent;
    background-size: cover;

    opacity: 0;
    transition: opacity 0.3s linear;
  }

  #contact-background.ready {
    opacity: 1;
  }

  #call-screen[data-layout="dialing"] #callbar-answer,
  #call-screen[data-layout="dialing"] #swiper-wrapper,
  #call-screen[data-layout="incoming"] #swiper-wrapper,
  #call-screen[data-layout="incoming-locked"] #callbar-answer,
  #call-screen[data-layout="incoming-locked"] #callbar-hang-up,
  #call-screen[data-layout="incoming-locked"] #call-options,
  #call-screen[data-layout="incoming-locked"] .duration,
  #call-screen[data-layout="connected"] #swiper-wrapper,
  #call-screen[data-layout="connected"] #callbar-answer,
  #call-screen[data-layout="connected-hold"] #swiper-wrapper,
  #call-screen[data-layout="connected-hold"] #callbar-answer,
  #call-screen:not([data-layout="incoming-locked"]) #lockscreen-header {
    display: none;
  }

  #call-screen[data-layout="connected-hold"] #callbar-hold {
    display: block;
  }

  #call-screen[data-layout="dialing"] #callbar-hang-up,
  #call-screen[data-layout="connected"] #callbar-hang-up {
    width: 100%;
  }

  #call-screen[data-layout="dialing"] #callbar-hang-up-action,
  #call-screen[data-layout="connected"] #callbar-hang-up-action {
    margin: 1rem 1.5rem 1.5rem;
  }

  #call-screen[data-layout="incoming"] #co-advanced,
  #call-screen[data-layout="incoming-locked"] #co-advanced {
    visibility: hidden;
  }

  #call-screen[data-layout="connected-hold"] #co-advanced,
  #call-screen:not(.displayed) #co-advanced,
  #call-screen:not(.displayed) #callbar {
    pointer-events: none;
    opacity: 0.4;
  }

  #call-screen[data-layout="incoming"] #main-container,
  #call-screen[data-layout="incoming"] #main-container:before,
  #call-screen[data-layout="incoming-locked"] #main-container,
  #call-screen[data-layout="incoming-locked"] #main-container:before,
  #call-screen[data-layout="incoming-locked"] #calls *,
  #call-screen[data-layout="incoming-locked"] {
    background-color: transparent;
  }

  #call-screen[data-layout="incoming-locked"] #calls {
    top: 100%;
    border-top: 0.1rem solid white;
    height: 7rem;
    margin-top: -17.1rem;
    background: rgba(0, 0, 0, 0.4);
  }

  #call-screen[data-layout="incoming-locked"] #calls.big-duration .numberWrapper .number {
    color: #01c5ed;
    font-weight: normal;
  }

  #lockscreen-header {
    z-index: 9999;
    position: absolute;
    top: 3.4rem;
    left: 0;
    width: 100%;
    -moz-box-sizing: border-box;
    padding: 1.8rem 2.5rem 1.2rem 2.5rem;
    color: #fff;
    text-shadow: 0 0 0.3rem #333;
    transition: transform 0.2s ease, opacity 0.2s ease;
    opacity: 1;
  }

  .lockscreen-clock {
    margin: -0.6rem 0 -1rem -0.4rem;
    font-weight: 300;
    border-top: solid 0.1rem rgba(255, 255, 255, 0.4);
  }

  #lockscreen-clock-numbers {
    font-size: calc(26 * 0.226rem);
  }

  #lockscreen-clock-meridiem {
    font-size: calc(17 * 0.226rem);
  }

  #lockscreen-date {
    font-weight: 400;
    font-size: calc(7 * 0.226rem);
  }

  .lockscreen-clock, #lockscreen-date {
    text-shadow: 0.1rem 0.1rem 0.3rem #000000;
    color: #fff;
  }

  .merge-button {
    display: none;
  }

  #calls:not(.single-line) .handled-call.held .merge-button,
  #calls:not(.single-line) #group-call.held .merge-button {
    display: block;
    position: absolute;
    width: 6rem;
    height: 8rem;
    top: 0;
    right: 0;
    background: url(images/icon_mergecall.png) no-repeat center;
    border: none;
    font-size: 0;
  }
}
