html {
  font-size: 10px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: #fff;
}

#screen {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-size: cover; /* Possible memory over-consumption with huge images, it should be removed for improving stability*/
  background-repeat: no-repeat;
  background-position: 50% 2rem;
}

#screen.screenoff {
  background: #000 !important;
}

#screen.screenoff * {
  visibility: hidden !important;
}

/*
 *  Poweroff animation
 */
#screen > div#poweroff-splash {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
}

#screen > div#poweroff-splash.step1 {
  animation: poweroff-splash-fade-in 0.5s;
}

@keyframes poweroff-splash-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#bottom-panel {
  position: absolute;
  display: none;
  bottom: 0;
  width: 100%;
  height: 1rem;
}

#bottom-panel.visible{
  display: block;
}

.poweroff-ring {
  display: block;
  position: absolute;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  margin-left: -3rem;
  margin-top: -3rem;
  left: 50%;
  opacity: 0;
}

#poweroff-ring-1 {
  top: 12rem;
  background-color: #e66600;
}

#poweroff-ring-2 {
  top: 24rem;
  background-color: #dc4e00;
}

#poweroff-ring-3 {
  top: 36rem;
  background-color: #d24500;
}

.poweroff-ring > span {
  display: block;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  margin: auto;
  background-color: black;
  width: 4rem;
  height: 4rem;
  margin-top: -2rem;
  margin-left: -2rem;
}

#poweroff-ring-2 > span {
  transform: scale(1.125);
}

#poweroff-ring-3 > span {
  transform: scale(1.25);
}

/* Ring 1 : inner diameter scales from 40 pixel to 58 pixel */
@keyframes ring1-scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.45);
  }
}

/* Ring 2 : inner diameter scales from 45 pixel to 59.5 pixel */
@keyframes ring2-scale {
  0% {
    transform: scale(1.125);
  }
  100% {
    transform: scale(1.4875);
  }
}

/* Ring 3 : inner diameter scales from 50 pixel to 59 pixel */
@keyframes ring3-scale {
  0% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.475);
  }
}

@keyframes ring-fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ring-fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#screen > div#poweroff-splash.step2 > #poweroff-ring-1 {
  animation: ring-fade-in  .4s ease-out  0s,
             ring-fade-out .5s linear   .4s;
}

#screen > div#poweroff-splash.step2 > #poweroff-ring-2 {
  animation: ring-fade-in  .4s ease-out .25s,
             ring-fade-out .5s linear   .65s;
}

#screen > div#poweroff-splash.step2 > #poweroff-ring-3 {
  animation: ring-fade-in  .4s ease-out .5s,
             ring-fade-out .5s linear   .9s;
}

#screen > div#poweroff-splash.step2 > #poweroff-ring-1 > span {
  animation: ring1-scale   .5s linear   .4s;
}

#screen > div#poweroff-splash.step2 > #poweroff-ring-2 > span {
  animation: ring2-scale   .5s linear   .65s;
}

#screen > div#poweroff-splash.step2 > #poweroff-ring-3 > span {
  animation: ring3-scale   .5s linear   .9s;
}



#system-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;

  pointer-events: none;
}

#system-overlay.volume {
  visibility: visible;
}

#windows {
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  height: 100%;
  max-height: 100%;
  border: 0rem;
  overflow: hidden;
}

.accessibility-invert {
  filter: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxmaWx0ZXIKICAgICAgaWQ9ImludmVydEZpbHRlciIKICAgICAgY29sb3ItaW50ZXJwb2xhdGlvbi1maWx0ZXJzPSJzUkdCIj4KICAgIDxmZUNvbG9yTWF0cml4CiAgICAgICAgdmFsdWVzPSItMSAwIDAgMCAxIDAgLTEgMCAwIDEgMCAwIC0xIDAgMSAwIDAgMCAxIDAgIiAvPgogIDwvZmlsdGVyPgo8L3N2Zz4K#invertFilter);
}

#dialog-overlay {
  position: absolute;
  top: 2rem;
  left: 0;
  width: 100%;
  height: calc(100% - 2rem);
  visibility: hidden;
  pointer-events: none;
}

@media not all and (-moz-physical-home-button) {
  #dialog-overlay {
    bottom: 5rem;
    height: calc(100% - 2rem - 5rem);
  }
}

#screen.software-button-enabled #windows > #dialog-overlay {
  bottom: 5rem;
  height: calc(100% - 2rem - 5rem);
}

#screen.active-statusbar #dialog-overlay,
#screen.active-statusbar.fullscreen-app #dialog-overlay {
  top: 4rem;
  height: calc(100% - 4rem);
}

#screen:-moz-full-screen-ancestor #dialog-overlay,
#screen.fullscreen-app #dialog-overlay {
  top: 0;
  height: 100%;
}

#screen:not(.crash-dialog) #crash-dialog {
  visibility: hidden;
}

/* `.dialog` is set by system_dialog.js when a dialog is shown */
#screen.dialog #dialog-overlay {
  visibility: visible;
  pointer-events: auto;
}

#screen.crash-dialog #dialog-overlay,
#screen.crash-dialog #crash-dialog,
#screen.modal-dialog #dialog-overlay,
#screen.modal-dialog #modal-dialog,
#screen.popup #popup-container,
#screen.trustedui #trustedui-container,
#screen.trustedui #dialog-overlay {
  visibility: visible;
  pointer-events: auto;
}

@keyframes banner-bounce {
  from, to {
    transform: translateY(100%);
    opacity: 0;
  }
  12.5%, 87.5% {
    transform: translateY(0);
    opacity: 1;
  }
}

#system-banner {
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateY(100%);
}

#system-banner.visible {
  animation: banner-bounce 4s;
  visibility: visible;
}

#system-banner button {
  width: auto;
}

#system-banner[data-button="false"] button {
  visibility: hidden;
}

#screen iframe.communication-frame {
  visibility: hidden;
}

@media (min-width: 768px) {
  #dialog-overlay {
    background-color: rgba(0,0,0,0.6);
    background: url(../themes/default/images/ui/menu_bg.png) no-repeat;
  }
}
