html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border: none;
  font-size: 10px;
  overflow: hidden;
}

* {
  -moz-user-select: -moz-none;
}

input {
  -moz-user-select: text;
}

section,footer,nav,a,img {
  margin:  0;
  padding: 0;
  border:none;
}

#paginationBar {
  width: 100%;
  height: .3rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;
}

#paginationBar > .paginationScroller {
  width: 100%;
  height: 100%;
  background-color: #ff7f02;
  transition: transform .35s ease;
  visibility: hidden;
}

#icongrid {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

button:focus::-moz-focus-inner {
  border-color: transparent !important;
}

button::-moz-focus-inner {
  border: none;
  padding: 0;
}

button {
   outline: none;
}

html[dir=rtl] .apps ol > li {
  float: right;
}

li:active {
  background-color: transparent !important;
}

#bg-overlay {
  width: 100%;
  height: calc(100% - 7.5rem);
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.1);
}

/* === Repaint Helper === */
#repaint-helper {
  background-color: black;
  opacity: 0.01;
  width: 1px;
  height: 1px;

  pointer-events: none;
  position: absolute;
  bottom: 0;
  left: 0;
}
#repaint-helper.displayed {
  opacity: 0.1;
}

.apps ol > li[data-is-collection = "true"] > div > img,
#footer ol > li[data-is-collection = "true"] > div > img {
  position: relative;
  z-index: 20;
}
.apps ol > li[data-is-collection = "true"] > div:before,
#footer ol > li[data-is-collection = 'true'] > div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 5.8rem;
  height: 5.8rem;
  margin: 0.3rem 0 0 -2.9rem;
  background: rgba(0, 0, 0, .1);
  border: 0.2rem solid rgba(255, 255, 255, .5);
  border-radius: 50%;
  z-index: 10;
  -moz-box-sizing: border-box;
  background-clip: content-box;
  transform: scale(1);
}

body[data-mode = 'normal'] ol > li span.options {
  display: none;
}

/* For WVGA (800 x 480), adjust the padding to make app icons fit in 4 x 5 grid */
@media all and (min-device-width: 320px) and (max-device-width: 359px) and (max-aspect-ratio: 4 / 6) {
  #paginationBar {
      height: .2rem;
  }
}
@media (min-width: 768px) {
  #bg-overlay {
    height: calc(100% - 16.9rem);
  }
}
/* This is a dirty hack to hide the bottom toolbar while
 * the keyboard is active, than device-height - 40px
 * (for status bar/mini attention screen/software home button),
 * then the keyboard is likely activated
 */

       /* For the Otoro, 320x480 */
@media (device-height: 480px) and (max-height: 390px),
       (device-height: 320px) and (max-height: 230px),
       /* For the Nexus 4 640x384 (no hardware button) */
       (device-height: 384px) and (max-height: 294px),
       (device-height: 640px) and (max-height: 550px),
       /* For the Galaxy SII, 640x480 */
       (device-height: 480px) and (max-height: 390px),
       /* For the Tablet, 800x1280 */
       (device-height: 1280px) and (max-height: 710px),
       /* For the Twist , 960x540 */
       (device-height: 540px) and (max-height: 450px),
       (device-height: 960px) and (max-height: 870px) {
  footer { display: none !important; }
  .apps > div { height: 100% !important; }
  #bg-overlay { height: 100%;}
}
