<element name="about-moreInfo-developer" extends="section">
  <template>

    <header>
      <button type="reset">
        <span data-l10n-id="back" class="icon icon-back">Back</span>
      </button>
      <h1 data-l10n-id="developer-header"> Developer </h1>
    </header>

    <div>
      <header>
        <h2 data-l10n-id="debug">Debug</h2>
      </header>
      <ul>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="developer.menu.enabled">
            <span data-l10n-id="developer-menu">Developer menu</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.grid.enabled">
            <span data-l10n-id="grid">Grid</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.fps.enabled">
            <span data-l10n-id="fps-monitor">Show frames per second</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.paint-flashing.enabled">
            <span data-l10n-id="paint-flashing">Flash repainted area</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="layers.draw-borders">
            <span data-l10n-id="layers-draw-borders">Draw layers borders</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="apz.force-enable"/>
            <span data-l10n-id="apz-force-enable">Enable APZ for all content processes</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.log-animations.enabled">
            <span data-l10n-id="log-animations">Log slow animations</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.ttl.enabled">
            <span data-l10n-id="ttl-monitor">Show time to load</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="devtools.debugger.remote-enabled">
            <span data-l10n-id="remote-debugging">Remote Debugging</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="wifi.debugging.enabled">
            <span data-l10n-id="wifi-debugging">Wi-Fi output in adb</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="bluetooth.debugging.enabled">
            <span data-l10n-id="bluetooth-debugging">Bluetooth output in adb</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="dom.mozContacts.debugging.enabled">
            <span data-l10n-id="contacts-debugging">Contacts debugging output in adb</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.console.enabled">
            <span data-l10n-id="console-enabled">Console enabled</span>
          </label>
        </li>
        <li id="software-home-button">
          <label class="pack-checkbox">
            <input type="checkbox" name="software-button.enabled">
            <span data-l10n-id="software-button-enabled">Software home button enabled</span>
          </label>
        </li>
        <li id="homegesture">
          <label class="pack-checkbox">
            <input type="checkbox" name="homegesture.enabled"/>
            <span data-l10n-id="homegesture-enabled">Home gesture enabled</span>
          </label>
        </li>
        <li id="edgesgesture">
          <label class="pack-checkbox">
            <input type="checkbox" name="edgesgesture.enabled"/>
            <span data-l10n-id="edgesgesture-enabled">Edges gesture enabled</span>
          </label>
        </li>
        <li id="continuoustransition">
          <label class="pack-checkbox">
            <input type="checkbox" name="continuous-transition.enabled"/>
            <span data-l10n-id="continuoustransition-enabled">Continuous transition enabled</span>
          </label>
        </li>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="debug.gaia.enabled">
            <span data-l10n-id="debug-gaia-enabled">Gaia debug traces</span>
          </label>
        </li>
        <li>
          <label>
            <button id="ftuLauncher" data-l10n-id="launch-ftu">Launch FTU</button>
          </label>
        </li>
      </ul>

      <header>
        <h2 data-l10n-id="accessibility">Accessibility</h2>
      </header>
      <ul>
        <li>
          <label class="pack-checkbox">
            <input type="checkbox" name="accessibility.screenreader">
            <span data-l10n-id="screenReader">Screen Reader</span>
          </label>
        </li>
      </ul>
    </div>

    <script src="js/about_more_info_developer.js"></script>

  </template>
</element>
