<element name="about-yourRights" extends="section">
  <template>

    <header>
      <button type="reset">
        <span data-l10n-id="back" class="icon icon-back">Back</span>
      </button>
      <h1 data-l10n-id="your-rights-header"> Your Rights </h1>
    </header>

    <div>
      <ul>
        <li class="description" data-l10n-id="about-your-rights-0">
          Browser OS is built on free and open source software by a community
          of thousands from all over the world. There are a few things you
          should know:
        </li>
        <li class="description" data-l10n-id="about-your-rights-1">
          Browser OS is made available to you under the terms of several open
          source licenses including the Mozilla Public License. A device
          running Browser OS may also contain proprietary software from third
          parties. Any code provided under open licenses give you the right
          to modify the source code and distribute your modified versions as
          long as you comply with their terms.
        </li>
        <li class="description" data-l10n-id="about-your-rights-2">
          You are not granted any trademark rights or licenses to the
          trademarks of the Mozilla Foundation or any party, including
          without limitation the Browser name or logo.
        </li>
        <li class="description" data-l10n-id="about-your-rights-3">
          Some features in Browser OS, such as the Crash Reporter, give you
          the option to provide feedback to Mozilla. By choosing to submit
          feedback, you give Mozilla permission to use the feedback to improve
          its products, to publish the feedback on its websites, and to
          distribute the feedback.
        </li>
      </ul>
    </div>

  </template>
</element>
