<element name="downloads" extends="section">
  <template>
    <header>
      <a href="#root"><span class="icon icon-back">back</span></a>
      <h1 data-l10n-id="downloads-header"> Downloads </h1>
    </header>
    <section id="download-list-empty" class="hide">
      <span id="dle-vertical"></span>
      <span id="dle-text"></span>
    </section>
    <section id="downloadList">
      <ul>
      </ul>
    </section>
    <link rel="stylesheet" type="text/css" href="style/downloads.css"/>
    <script src="js/downloads/downloads_list.js"></script>
  </template>
</element>
