<element name="wifi-auth" extends="section">
  <template>

    <header>
      <button type="reset"><span data-l10n-id="back" class="icon icon-back">Back</span></button>
      <menu type="toolbar">
        <button type="submit"><span data-l10n-id="ok">OK</span></button>
      </menu>
      <h1 data-ssid> Network Authentication </h1>
    </header>

    <div>
      <ul>
        <li>
          <a data-l10n-id="security">security
            <span data-security>WPA-PSK</span>
          </a>
        </li>
        <li>
          <a data-l10n-id="signalStrength">signal strength
            <span data-signal>good</span>
          </a>
        </li>
        <li class="eap">
          <p data-l10n-id="eap">EAP method</p>
          <span class="button icon icon-dialog" data-eapMethod>
            <select>
              <option value="SIM">SIM</option>
              <option value="PEAP">PEAP</option>
              <option value="TLS">TLS</option>
              <option value="TTLS">TTLS</option>
            </select>
          </span>
        </li>
        <li class="auth-phase2">
          <p data-l10n-id="auth-phase2">Phase 2 authentication</p>
          <span class="button icon icon-dialog">
            <select>
              <option value="No">No</option>
              <option value="PAP">PAP</option>
              <option value="MSCHAP">MSCHAP</option>
              <option value="MSCHAPV2">MSCHAP V2</option>
              <option value="GTC">GTC</option>
            </select>
          </span>
        </li>
        <li class="identity">
          <p data-l10n-id="identity">identity</p>
          <input type="text" data-ignore name="identity" />
        </li>
        <li class="password">
          <label class="pack-checkbox">
            <input type="checkbox" data-ignore name="show-pwd" id="pwd-auth">
            <span data-l10n-id="showPassword">show password</span>
          </label>
          <p data-l10n-id="password">password</p>
          <input type="password" data-ignore name="password" maxlength="63" x-inputmode="verbatim" />
        </li>
        <li class="server-certificate">
          <p data-l10n-id="server-certificate">Server certificate</p>
          <span class="button icon icon-dialog">
            <select>
              <option value="none">--</option>
            </select>
          </span>
        </li>
        <li class="description server-certificate-description" data-l10n-id="import-certificate-msg">
          Notice: If you need to import new certificates, please go to “Manage certificates".
        </li>
      </ul>
    </div>

  </template>
</element>
