<element name="wifi-enterCertificateNickname" extends="section">
  <template>

    <header>
      <button type="reset"><span data-l10n-id="back" class="icon icon-back">Back</span></button>
      <menu type="toolbar">
        <button type="submit"><span data-l10n-id="done">Done</span></button>
      </menu>
      <h1 data-l10n-id="enterCertificateNickname"> Enter certificate nick name </h1>
    </header>

    <div>
      <ul>
        <li class="nickname">
          <p data-l10n-id="nickname">Nick name</p>
          <input id="certificate-file-nickname" type="text" data-ignore name="nickname" />
        </li>
        <li class="description" data-l10n-id="enter-certificate-name-msg">
          You can change the nick name or keep the default name.
        </li>
      </ul>
    </div>

  </template>
</element>
